/* Write your CSS here */
.registration-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 40%;
  height: 100vh;
}
.view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.yet-to-register-image {
  width: 90%;
  max-width: 461px;
}

.registration-description {
  text-align: center;
  color: #64748b;
  font-family: roboto;
  font-size: 19px;
  line-height: 1.5;
  margin: 0px;
  margin-top: 48px;
}
.register-here-button {
  text-align: center;
  color: white;
  font-family: roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background-color: #0967d2;
  width: 90%;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.registered-image {
  width: 80%;
  max-width: 100px;
}
.registered-heading {
  text-align: center;
  color: #323f4b;
  font-family: roboto;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0px;
  margin-top: 40px;
}
.registration-closed-image {
  width: 80%;
  max-width: 393px;
}
.registration-closed-heading {
  text-align: center;
  color: #323f4b;
  font-family: roboto;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0px;
  margin-top: 32px;
}
.registration-closed-description {
  text-align: center;
  color: #323f4b;
  font-family: roboto;
  font-size: 18px;
  width: 60%;

  line-height: 1.7;
  margin: 0px;
  margin-top: 16px;
}
.no-active-event-decrption {
  text-align: center;
  justify-content: flex-start;
  color: #64748b;
  font-family: roboto;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.75;
  margin: 0px;
  margin-top: 64px;
  margin-right: 16px;
  margin-left: 16px;
}
